body{
    background-color: rgba(0, 0, 0, 0.336);
    background-size: auto;
    margin: auto;
    margin-top: -0.98%;
    font-family:'Courier New', Courier, monospace
}
header{
    color:rgb(255, 255, 255);
    list-style-type: none;
    height: 3.4em;
    width: 100%;
}
LI a{
    display: inline;
    font-size: 20px;
}
li{
    display: inline;
    font-size: 20px;
    float:inherit
}
a{
  color: rgba(255, 255, 255, 0.726);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:10px;
}
hr{
    border-color: rgb(0, 0, 0);
    border-style: double;
}
main{
    color:rgba(0, 0, 0, 0.493);
}
footer{
    background-color: rgb(0, 0, 0);
    color:rgb(216, 216, 216);
}
ul{
border-width: 16px;
border-style: double;
border-color: rgba(0, 0, 0, 0.486);

}
div{
text-align: center; 
}
input{
    background-color: rgba(255, 255, 255, 0.74);
    border: 1px groove rgba(8, 8, 8, 0.603);
    border-radius: 999px;
    float: left;
}